@use "../globals/" as g;
@use "sass:math";

.hero {
    @include g.section-layout (g.$bg--dark);
    padding-top: g.$size-xl * 4;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include g.container-width();
    }

    &__description {
        display: flex;
        flex-direction: column;
        width: g.to-rem(600px);
        gap: g.$size-xl;

        @include g.breakpoint(medium){
            align-items: center;
            text-align: center;
        }
    }

    &__heading {
        font-size: g.$font-2xl;
        max-width: 20ch; 
    }

    &__copy {
        font-weight: g.$font-light;
    }

    &__img {
        display: flex;
        justify-content: flex-end;
        width: g.to-rem(600px);

        @include g.breakpoint(medium) {
            display: none;
        } 
        
        img {
            width: 70%;
        }
    }
}

.recommend {
    @include g.section-layout (g.$util-color-white);

    &__container {
        @include g.container-width();
    }

    &__heading {
        font-size: g.$font-l;
        margin-bottom: g.$size-l;

        @include g.breakpoint(medium) {
            text-align: center;
        }
    }

    &__card-container {
        width: 90%;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        gap: g.$size-3xl;

        @include g.breakpoint(medium) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__card {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-radius: 5px;
        border: 1px solid g.$util-color-black--20;
        box-shadow: 0 g.$size-xxs g.$size-xxs g.$util-color-black--20;
        width: g.to-rem(280px); 
        height: g.to-rem(400px);
        background-size: cover;
        background-repeat: no-repeat;
        color: g.$util-color-white;
        padding: g.$size-m;

        &-heading {
            font-size: g.$font-l;
        }
    }

    &__card--country01 {
        @extend .recommend__card;
        background-image: url("/assets/Images/hawaii.jpg");
    }

    &__card--country02 {
        @extend .recommend__card;
        background-image: url("/assets/Images/iceland.jpg");
    }

    &__card--country03 {
        @extend .recommend__card;
        background-image: url("/assets/Images/greece.jpg");
    }
}

