@use "../globals/" as g;
@use "sass:math";

.body {
    height: 100vh;
    @include g.flex-col();

    .main {
        flex-grow: 1;
    }

    .section {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;

        &--country01 {
            @extend .section;
            @include g.section-layout (g.$util-color-white, url("/assets/Images/hawaii.jpg"));
            padding-top: g.$size-xl * 4;
        }

        &--country02 {
            @extend .section;
            @include g.section-layout (g.$util-color-white, url("/assets/Images/iceland.jpg"));
            padding-top: g.$size-xl * 4;
        }

        &--country03 {
            @extend .section;
            @include g.section-layout (g.$util-color-white, url("/assets/Images/greece.jpg"));
            padding-top: g.$size-xl * 4;
        }
        
        &__container {
            @include g.container-width();
            @include g.flex-col();
            gap: g.$size-3xl;
        }
    
        &__heading {
            color: g.$util-color-white;
            font-size: g.$font-2xl * 2;

            @include g.breakpoint(medium) {
                text-align: center;
            }
        }
    
        .card__container {
            width: 90%;
            margin-inline: auto;
            display: flex;
            justify-content: center;
            gap: g.$size-3xl;

            @include g.breakpoint(medium) {
                flex-direction: column;
                align-items: center;
            }
        
            .card {
                @include g.flex-col();
                justify-content: center;
                align-items: center;
                gap: g.$size-m;
                background-color: g.$util-color-white;
                border-radius: math.div(5, 16) * 1rem;
                width: math.div(250, 16) * 1rem;
                min-height: math.div(350, 16) * 1rem;
                padding: g.$size-m;
                text-align: center;
        
                &__heading-wrapper {
                    font-size: g.$font-s;
                    color: g.$util-color-black;
                    border-bottom: 2px solid g.$util-color-black;
                    padding-bottom: g.$size-xxs;
                    width: 100%;
                }
        
                &__copy-wrapper {
                    width: 100%;
                    @include g.flex-col();
                    gap: g.$size-s;
                }
        
                &-copy {
                    color: g.$util-color-black;
                    background: g.$bg--dark;
                    width: 100%;
                    padding: g.$size-s;
                }
            }
        }
    }

    .footer {
        align-self: flex-end;
    }
}



