@use "colors";
@use "fonts";
@use 'sass:math';
@use "functions" as f;

/* Margines & Paddings */
$size-3xl: f.to-rem(48px); 
$size-2xl: f.to-rem(40px);
$size-xl: f.to-rem(32px); 
$size-l: f.to-rem(24px); 
$size-m: f.to-rem(20px);
$size-s: f.to-rem(16px); 
$size-xs: f.to-rem(8px); 
$size-xxs: f.to-rem(4px); 

@mixin section-layout ($bg, $img: none) {
    width: 100%;
    background-color: $bg;
    padding-top: $size-xl * 2;
    padding-bottom: $size-xl * 2;
    background-image: $img;
    background-position: left center;
}

@mixin container-width () {
    width: min( 90%, f.to-rem(1200px));
    margin-inline: auto;
}

@mixin flex-col () {
    display: flex;
    flex-direction: column;
}

.header {
    height: $size-xl * 2;
    width: 100%;
    background-color: colors.$util-color-white;
    position: fixed;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include container-width();
    }
}

.logo__link {
    color: colors.$primary-color;
}

.nav {
    &__list {
        list-style-type: none;
        display: flex;
        gap: $size-s;
    }

    &__link {
        color: colors.$util-color-black;
        padding-bottom: $size-xxs;
    }

    &__link--active {
        @extend .nav__link;
        border-bottom: $size-xxs solid colors.$accent-color
    }
}

.btn--primary {
    background-color: colors.$accent-color;
    color: colors.$util-color-white;
    border-radius: $size-s;
    border: none;
    padding: $size-xs $size-2xl;
    max-width: f.to-rem(150px);  
}

.footer {
    @include section-layout (colors.$bg--dark);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        @include container-width();

        @media (max-width: f.to-rem(900px)){
            flex-direction: column;
            gap: $size-3xl;
        }
    }

    &__contact {
        &-wrapper {
            @include flex-col();
        }

        &-email {
            color: colors.$primary-color;
        }
    }

    &__label {
        font-size: fonts.$font-xxs;
        text-transform: uppercase;
        color: colors.$accent-color;
        margin-bottom: $size-s;
    }

    &__hours {
        @include flex-col();

        &-container {
            display: flex;
            gap: $size-2xl;

            @media (max-width: f.to-rem(550px)) {
                flex-wrap: wrap;
            }
        }

        &-wrapper {
            @include flex-col();
            align-items: flex-start;
        }
    }

    &__social {
        @include flex-col();
        justify-content: space-between;

        &-wrapper {
            display: flex;
            gap: $size-s;
        }
    }

    &__icon {
        width: $size-l;
        height: $size-l;
        object-fit: contain;
    }

    &__headings {
        font-size: fonts.$font-l;
        margin-bottom: $size-l;
    }
}